<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/base.css" />
	<title>{% block title %}HB's Msg Board!{% endblock title %}</title>
	{% block head %}
	{% endblock %}
	<script>
	    $(document).ready(function () {
			$('.messageReply a').click( function () {
					var reply = $(this).parent().siblings('.replyCont');
					if (reply.is(':visible'))
						reply.slideUp('fast').show(); 
					else
						reply.slideDown('fast').show(); 
				});
			});
	</script>
</head>
<body>
	<div id="header">
		<div id="title">
			<h1>Hayden Boroski's Message Board</h1>
			<div id="divUser">
				{% if user is defined and user != None %}
					Logged in as {{ user.username }} (<a href="/logout">Logout</a>)
				{% else %}
					<a href="/login">Log In</a>  |  Not Registered? Click <a href="/create_user">here</a>
				{% endif %}
			</div>
			{% block links %}
			{% endblock %}
		</div>
	</div>
	<div id="listWrapper">
	{% block body %}
	{% endblock %}
	</div>
</body>
</html>